{% extends "base_generic.html" %}

{% block content %}

    <h2>Transactions</h2>

    <table class="table table-striped">
        <tr>
            <th>Book Title</th>
            <th>Borrower</th>
            <th>Date Borrowed</th>
            <th>Status</th>
        </tr>
        
        {% for bookinst in bookinstance_list %}
            <tr>
                <td>{{ bookinst.book.title }}</td>
                <td>{{ bookinst.borrower.username }}</td>
                <td>{{ bookinst.due_back }}</td>
                <td>
                    {{ bookinst.status }}
                    {% if bookinst.status == 'o' %}
                        <a href="{% url 'renew-book-librarian' bookinst.id %}">RENEW</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}