{% extends "base_generic.html" %}

{% block content %}

    <span class="float-none">
        <a href="{% url 'book-update' book.id %}" data-toggle="tooltip" data-placement="top" title="Edit this book."><span class="fa fa-edit"></span></a> | 
        <a href="{% url 'book-delete' book.id %}" data-toggle="tooltip" data-placement="down" title="Delete this book."><span class="fa fa-trash"></span></a> |
        <a href="{% url 'add-book-instance' book.id %}" data-toggle="tooltip" data-placement="right" title="Add book instance."><span class="fa fa-plus"></span></a>
    </span>
    <h1>Title: {{ book.title }}</h1>

    <p><strong>Author: </strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p>
    <p><strong>Summary: </strong> {{ book.summary }}</p>
    <p><strong>ISBN: </strong> {{ book.isbn }}</p>
    <p><strong>Language: </strong> {{ book.language }}</p>
    <p><strong>Genre: </strong> 
        {% for genre in book.genre.all %}
            {{ genre }}
            {% if not forloop.last %},
            {% endif %}
        {% endfor %}
    </p>

    <div style="margin-left:20px; margin-top:20px">
        <h4>Copies</h4>

        {% for copy in book.bookinstance_set.all %}
            <hr>
            <p class="
                {% if copy.status == 'a' %}
                    text-success
                {% elif copy.status == 'm' %}
                    text-danger
                {% else %}
                    text-warning
                {% endif %}">
                {{ copy.get_status_display }}
            </p>
            <!-- {% if copy.status != 'a' %}
                <p><strong>Due to be returned: </strong>{{ copy.due_back }}</p>
            {% endif %} -->
            <!-- <p><strong>Imprint:</strong> {{ copy.imprint }}</p> -->
            <p class="text-muted"><strong>Id: </strong> {{ copy.id }}</p>
        {% endfor %}
    </div>

{% endblock %}