{% extends "base_generic.html" %}

{% block content %}

    <form action="" method="GET">
        <div class="input-group add-on float-right" style="width: 300px !important;">
            <input class="form-control" placeholder="Search" id="book-term" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <h2>Transactions</h2>

    <table class="table table-striped">
        <tr>
            <th>Book Title</th>
            <th>Borrower</th>
            <th>Date Borrowed</th>
            <th>Due Date</th>
            <th>Date Returned</th>
            <th>Status</th>
            <th></th>
        </tr>
        
        {% for trans in transaction_list %}
            <tr>
                <td>{{ trans.book_instance.book.title }}</td>
                <td>{{ trans.borrower.username }}</td>
                <td>{{ trans.date_borrowed }}</td>
                <td>{{ trans.due_back }}</td>
                <td>
                    {% if trans.book_instance.status == 'o' %}
                        [unreturned] 
                        <a href="{% url 'renew-book-librarian' trans.id %}">RENEW</a>
                    {% endif %}
                </td>
                <td>
                    {% if trans.book_instance.status == 'o' %}
                        On loan
                    {% elif trans.book_instance.status == 'a' %}
                        Available
                    {% elif trans.book_instance.status == 'm' %}
                        Under maintenance
                    {% elif trans.book_instance.status == 'r' %}
                        Reserved
                    {% endif %}    
                    
                </td>
                <td><a href="{% url 'return-book' trans.id %}"><span class="fa fa-undo"></span> RETURN</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}